

.navbar{
  background-image: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensures rounded corners and shadow are visible */
}

/* DropdownSelect.css */

.dropdown {
  margin: 20px;
}

.custom-select {
  width: 100%; /* Take full width of its container */
  appearance: none; /* Remove default select arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #d71010;
  background-image: linear-gradient(to bottom, #f9f9f9, #e9ecef);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Optional: Add focus styling */

  /* Responsive adjustments */
  @media (max-width: 768px) {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
.custom-select:hover {
  box-shadow: 0 0 0 0.2rem rgba(14, 89, 168, 0.25); /* Optional: Hover effect */
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Optional: Focus effect */
}
